{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK HR Team
{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: "Back",
    href: "/"
  }) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        The GOV.UK HR Team
      </h1>{{releaseVersion | log }}

      <h2 class="govuk-heading-m">What action would you like to complete today?</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/hr/add-employee">Add new employee</a>
        </li>
        <li>
          <a href="/hr/generate-report">Generate employee report</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}